doctype html
link(rel="icon", href="data:,")
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  include logic/loginstatus
  a(href="/")
    h1 게시판
  body
    block content