page
    -var pagelength = filelist.length;
    -var limit = 5;
    -var pageNum = 1;
    -var prePage = parseInt(pageId) - 1;
    -var nextPage = parseInt(pageId) + 1;

    -if(pageId && pageId != '1'){
        a(href="/" + prePage) 이전
    -}
    
    a(href="/" + pageNum) [#{pageNum}]
    -for(var i=0; i < filelist.length; i++){
        -if( pagelength > limit ){
                -pageNum++;
                a(href="/" + pageNum) [#{pageNum}]
                -pagelength -=limit;    
            -}
        -}
        
    -if(pageId && pageId != pageNum){
        a(href="/" + nextPage) 다음
    -}

